<html>
  <head>
    <title>Sanadamaru Karuta</title>
  </head>
  <body>
    <h1>Sanadamaru Karuta</h1>
    
    <table>
      <% ar.sort_by{|hash| hash[:text] }.each do |hash| %>
      <tr>
	<td><span style="font-size: large; font-weight: bold;"><%= hash[:text][0].to_nfd.split('').first %></span>
	<td><a href="<%= hash[:img] %>"><img src="<%=  hash[:img] %>" width="200"></a>
	<td><%= hash[:text] %>
	  <% end %>
    </table>
    <hr>
    Sanadamaru Karuta Builder
  </body>
</html>

